{% extends 'base.html.twig' %}

{% block title %}Hello HealthController!{% endblock %}

{% block body %}


<div class="flash-test">
    Bienvenue sur Code Challenge ! Votre inscription a été effectuée avec succès !
</div>
{% endblock %}
